

/* $custom: #1abc9c; */
$custom-colors: #1abc9c;
$footer-bg: #2f2f2f;
/*
$theme-colors: (
  primary: $custom-colors,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
)*/

$theme-colors: (
  "light": #ff4136
)

$body-bg: #000;
$body-color: #111;

/*$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);*/

@import "../../node_modules/bootstrap/scss/bootstrap";

/* import only the necessary Bootstrap files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
/* -------begin customization-------- */
/* change the primary theme color to red */
$theme-colors: (
  primary: red;
);
/* -------end customization-------- */
/* finally, import Bootstrap to set the changes! */
@import "bootstrap";
